<%= form_with(model: estudio, local: true) do |form| %>
  <% if estudio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(estudio.errors.count, "error") %> prohibited this estudio from being saved:</h2>
      <ul>
      <% estudio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-box">
    <div class="form-group">
      <%= form.label :nome %>
      <%= form.text_field :nome, id: :estudio_nome, class:'form-control' %>
    </div>
    <div class="form-group">
      <%= form.label :nome_dono %>
      <%= form.text_field :nome_dono, id: :estudio_nome_dono, class:'form-control' %>
    </div>
    <div class="form-group">
      <%= form.label :data_fundacao %>
      <%= form.date_select :data_fundacao, id: :estudio_data_fundacao, class:'form-control' %>
    </div>
    <div class="form-group">
      <%= form.label :faturamento %>
      <%= form.text_field :faturamento, id: :estudio_faturamento, class:'form-control' %>
    </div>
    <div class="actions">
      <%= form.submit class:'btn btn-success' %>
    </div>
  </div>
<% end %>
