<p id="notice"><%= notice %></p>
<div class="container-fluid table-div">
  <h1 class="table-title text-center">Estudios</h1>
  <div class="table-responsive">
    <table class="table table-hover table-bordered table-striped text-center">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Nome dono</th>
          <th>Data fundacao</th>
          <th>Faturamento</th>
          <th colspan="3">Ações</th>
        </tr>
      </thead>
      <tbody>
        <% @estudios.each do |estudio| %>
          <tr>
            <td><%= estudio.nome %></td>
            <td><%= estudio.nome_dono %></td>
            <td><%= estudio.data_fundacao %></td>
            <td><%= estudio.faturamento %></td>
            <td><%= link_to 'Show', estudio %></td>
            <td><%= link_to 'Edit', edit_estudio_path(estudio) %></td>
            <td><%= link_to 'Destroy', estudio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <br>
  <%= link_to '<span class="fa fa-plus"></span> New Estudio'.html_safe, new_estudio_path, class:'btn btn-info' %>
</div>
