<p id="notice"><%= notice %></p>

<h1>Papels</h1>

<table>
  <thead>
    <tr>
      <th>Descricao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @papels.each do |papel| %>
      <tr>
        <td><%= papel.descricao %></td>
        <td><%= link_to 'Show', papel %></td>
        <td><%= link_to 'Edit', edit_papel_path(papel) %></td>
        <td><%= link_to 'Destroy', papel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Papel', new_papel_path %>
