<section class="content-section">
  <div class="page-header">
    <div class="container-fluid">
      <div class="text-header">
        <h1 class="text-center">
          <span class="fa fa-film"></span>
          <br>
          <br>
          Estúdio Cinematográfico
          <br>
          <small>
            Uma pequena demonstração de como usar o <span class="highlighted-text">REDIS</span> em sua aplicação
          </small>
        </h1>
        <hr class="subline">
        <br>
        <br>
        <div class="col-sm-8 col-sm-offset-2">
          <div class="row">
            <div class="col-sm-4 col-md-2 header-btn">
              <%= link_to 'Sobre', '#content-ssh', class:'btn btn-redirect'%>
            </div>
            <div class="col-sm-4 col-md-2 header-btn">
              <%= link_to 'Atores', ators_path, class:'btn btn-redirect'%>
            </div>
            <div class="col-sm-4 col-md-2 header-btn">
              <%= link_to 'Estudios', estudios_path, class:'btn btn-redirect'%>
            </div>
            <div class="col-sm-4 col-md-2 header-btn">
              <%= link_to 'Filmes', filmes_path, class:'btn btn-redirect'%>
            </div>
            <div class="col-sm-4 col-md-2 header-btn">
              <%= link_to 'Papeis', papels_path, class:'btn btn-redirect'%>
            </div>
            <div class="col-sm-4 col-md-2 header-btn">
              <%= link_to 'Personagens', personagems_path, class:'btn btn-redirect'%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="content-section" id="content-ssh">
  <div class="container">
    <div class="row">
      <div class="col-xs-12" id="section-header">
        <h2 class="text-center">
          <span class="fa fa-quote-left"></span>
          Mas o Que é Isso?
          <span class="fa fa-quote-right"></span>
        </h2>
        <hr class="subline">
      </div>
      <div class="col-sm-6">
        <div class="text-area">
          <h3 class="text-center">
            <span class="fa fa-gears"></span>
            REDIS e Aplicações
          </h3>
          <hr class="subline">
          <div class="p-txt">
            <p class="h4">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="text-area">
          <h3 class="text-center text-capitalize">
            <span class="fa fa-database"></span>
            REDIS + Rails
          </h3>
          <hr class="subline">
          <div class="p-txt">
            <p class="h4">
              Usando o framework RoR com o REDIS é algo realativamente simples.<br>
              <br>
              O REDIS porém só é utilizado no ambiente de produção, por conta de
              não possuir vantagens nos ambientes de desenvolvimento e testes.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
