<%= form_with(model: filme, local: true) do |form| %>
  <% if filme.errors.any? %>
  <div class="alert alert-danger alert-dismissible" role="alert" id="error_explanation">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h2><%= pluralize(filme.errors.count, "error") %> prohibited this filme from being saved:</h2>
    <ul>
      <% filme.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <div class="form-box">
    <div class="form-group">
      <%= form.label :nome %>
      <%= form.text_field :nome, id: :filme_nome, class:'form-control' %>
    </div>
    <div class="form-group">
      <%= form.label :meses_producao %>
      <%= form.number_field :meses_producao, id: :filme_meses_producao, class:'form-control' %>
    </div>
    <div class="form-group">
      <%= form.label :copyright %>
      <%= form.text_field :copyright, id: :filme_copyright, class:'form-control' %>
    </div>
    <div class="form-group">
      <%= form.label :diretor %>
      <%= form.text_field :diretor, id: :filme_diretor, class:'form-control' %>
    </div>
    <div class="form-group">
      <%= form.label :custo_total %>
      <%= form.text_field :custo_total, id: :filme_custo_total, class:'form-control' %>
    </div>
    <div class="form-group">
      <%= form.label :ano_lancamento %>
      <%= form.number_field :ano_lancamento, id: :filme_ano_lancamento, class:'form-control' %>
    </div>
    <div class="actions">
      <%= form.submit %>
    </div>
  </div>
<% end %>
