<div id="menu">
  <%= link_to "ESTUDIOS", estudios_path%>
  <%= link_to "FILMES", filmes_path%>
  <%= link_to "ATORES", ators_path%>
  <%= link_to "PERSONAGENS", personagems_path%>
  <%= link_to "PAPEIS", papels_path%>
</div>
