<%= form_with(model: personagem, local: true) do |form| %>
  <% if personagem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(personagem.errors.count, "error") %> prohibited this personagem from being saved:</h2>
      <ul>
      <% personagem.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-box">
    <div class="form-group">
      <%= form.label :nome %>
      <%= form.text_field :nome, id: :personagem_nome, class:'form-control' %>
    </div>
    <div class="form-group">
      <%= form.label :nome_filme %>
      <%= form.text_field :nome_filme, id: :personagem_nome_filme, class:'form-control' %>
    </div>
    <div class="form-group">
      <%= form.label :nome_ator %>
      <%= form.text_field :nome_ator, id: :personagem_nome_ator, class:'form-control' %>
    </div>
    <div class="form-group">
      <%= form.label :cache_ator %>
      <%= form.text_field :cache_ator, id: :personagem_cache_ator, class:'form-control' %>
    </div>
    <div class="actions">
      <%= form.submit class:'btn btn-success' %>
    </div>
  </div>
<% end %>
